<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập nhật Sinh Viên</title>
</head>
<body>
    <h2>Cập nhật thông tin nhân viên:</h2>
    
    <form action="../Controller/C_NhanVien.php?mod=4" method="post">
        <label for="idnv">IDNV:</label>
        <input type="text" id="idnv" name="idnv" value="<?php echo $nhanVien->IDNV; ?>" readonly required><br><br>

        <label for="hoten">Họ tên:</label>
        <input type="text" id="hoten" name="hoten" value="<?php echo $nhanVien->Hoten; ?>" required><br><br>

        <!-- <label for="idpb">Chọn phòng ban</label>
                
                    <select name="idpb" id="">
                        <?php
                        for ($i = 0; $i < sizeof($phongbans); $i++) {
                        ?>
                        <option value="<?php echo $phongbans[$i]->Id_pb ?>" selected>
                            <?php echo $phongbans[$i]->Tenpb ?>
                        </option>
                        <?php
                        }
                        ?>
                    </select><br><br> -->
    
                    <label for="idpb">Chọn phòng ban</label>
                    
                        <select name="idpb" id="">
                            <?php
                            for ($i = 0; $i < sizeof($phongbans); $i++) {
                                if ($phongbans[$i]->Id_pb == $nhanVien->IDPB) {
                            ?>
                                    <option value="<?php echo $phongbans[$i]->Id_pb ?>" selected>
                                        <?php echo $phongbans[$i]->Tenpb ?>
                                    </option>
                                <?php
                                } else {
                                ?>
                                    <option value="<?php echo $phongbans[$i]->Id_pb ?>">
                                        <?php echo $phongbans[$i]->Tenpb ?>
                                    </option>
                                <?php
                                }
                                ?>
    
    
                            <?php
                            }
                            ?>
    
                        </select><br><br>

                    
        
        <label for="diachi">Địa chỉ:</label>
        <input type="text" id="diachi" name="diachi"value="<?php echo $nhanVien->Diachi; ?>" required><br><br><br>

      
        

        <input type="hidden" name="update" value="updateNhanVien">
        <input type="submit" value="Cập nhật ">
    </form>
    <br>
</body>
</html>
